@import url("https://fonts.googleapis.com/css?family=Poppins");

.login_form_wrapper {
  background-color: #f2f9ff;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_form_box {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 550px;
  min-height: 100%;
  padding: 20px;
}

#loginformContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.09);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.09);
  text-align: center;
  padding: 20px 0;
}

.login_form_btn {
  background-color: #42a7de;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  -webkit-box-shadow: 0 10px 15px 0 rgba(95, 186, 233, 0.4);
  box-shadow: 0 10px 15px 0 rgba(95, 186, 233, 0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin: 25px 0;
}

.login_form_btn:hover {
  background-color: #3489b7;
}

.login_form_btn:active {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

.login_form_input {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 10px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

.login_form_input:focus {
  background-color: #fff;
  border-bottom: 2px solid #f2f9ff;
}

.login_form_input:placeholder {
  color: #cccccc;
}

*:focus {
  outline: none;
}

#icon {
  width: 60%;
}

* {
  box-sizing: border-box;
}
.form_user_icon > img {
  width: 100px !important;
  height: 100px;
  margin: 20px 0;
}
.logout_btn {
  width: 120px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: #42a7df;
  font-size: 17px;
  font-weight: 600;
  background-color: #42a7df;
  cursor: pointer;
}
@media (max-width: 415px) {
  .login_form_box {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 95%;
    min-height: 100%;
    padding: 10px;
  }
}

.form_link {
  color: #42a7df;
}

.error_text {
  font-size: 14px;
  line-height: 1.4;
  margin-top: 10px;
  text-align: center;
  text-transform: capitalize;
  color: rgb(223, 19, 56);
}
